  
.narbar {
    padding: 5px;
    background-color: black;
    justify-content: space-between;
    color: aliceblue;
    display: flex;
    cursor: pointer;
}

.narbar >a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 8px;
   
   
}
.title:hover{
    color: rgb(221, 243, 21);
}
.content{
    align-content: space-between;
    display: flex;
   padding: 15px;
   color: rgb(31, 141, 236);
   font-size: 25px;
   align-content: center;
  }
.content>a:hover{
    color: rgb(245, 75, 103);
}
.link{
    color: aliceblue;
text-decoration: none;
 margin: 0 10px;
}
